body, html {
	padding: 0;
	margin: 0;
	/*font-family: 'Comfortaa', cursive;*/
    font-family: 'Qanelas-Light', Fallback, sans-serif;
}

* {
	box-sizing: border-box;
    font-size: 20px;
}

.jumbotron-img {
    margin-bottom: 20px;
    background-image: url(../header.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    height: 200px;
}


.navbar-default {
    background-color: #fff;
    border-color: #fff;
    color: #5F8F77;
}

.navbar-default .navbar-nav > li  a:hover,
.navbar-default .navbar-nav > li  a:focus  {
    color: #5F8F77;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #5F8F77;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color:  #fff;
    color: #5F8F77;
}

.bg {
	background: url(../header.jpg) no-repeat center center;
	background-size: cover;
	height: 300px;
}

.btn-default {
    background-color: #fff;
    color: #5F8F77;
    border-color: #fff;
    font-size: 20px;
}

.btn-default:hover,
.btn-default:focus {
    background-color: #fff;
    border-color: #fff;
    color: #5F8F77;
}

.form-control {
    font-size: 20px;
}

.form-control:hover {
    border-color: #5F8F77;

}

.thumbnail {/*
    width: 250px;*/
    height: 250px;
    background-color: #c7e5d6;
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

.thumbnail img {
}

.thumbnail p {
    margin-right: 5px;
    margin-left: 5px;
}

/*.thumbnail img {
    width: 100%;
}*/

.thumbnail:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.5); /* Параметры тени */
    -webkit-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    -moz-transition: .3s ease-out;
    transition: .3s;

}



@font-face {
    font-family: Qanelas-Bold;
    src: url('Qanelas-Bold.otf');
}

@font-face {
    font-family: Qanelas-ExtraBold;
    src: url('Qanelas-ExtraBold.otf');
}

@font-face {
    font-family: Qanelas-Light;
    src: url('Qanelas-Light.otf');
}

@font-face {
    font-family: Qanelas-Regular;
    src: url('Qanelas-Regular.otf');
}

