{% load staticfiles %}
{% load mptt_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Teana</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
    <!--<link rel="stylesheet" href="style/main.css">-->

</head>
<body>

<div class="container jumbotron-img"></div>
<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
              <a class="navbar-brand" href="/">Все чаи</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                {% recursetree category %}
                {% if node.is_leaf_node %}
                    <li><a href="/{{ node.id }}/">{{ node.name }}</a></li>
                    {% else %}
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ node }}<b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="/{{ children.id }}/">{{ children }}</a></li>
                      </ul>
                    </li>
                {% endif %}
                {% endrecursetree %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    
    
    
	<!--<nav class="navbar navbar-default">-->
 <!--       <div class="container-fluid">-->
 <!--           <ul class="nav navbar-nav">-->

 <!--           {% recursetree category %}-->
 <!--           {% if node.is_leaf_node %}-->
 <!--               <li><a href="/{{ node.id }}/">{{ node.name }}</a></li>-->
 <!--           {% else %}-->
 <!--               <li class="dropdown">-->
 <!--                   <a class="dropdown-toggle" data-toggle="dropdown" href="/admin">-->
 <!--                    {{ node }}<span class="caret"></span></a>-->
 <!--                   <ul class="dropdown-menu">-->
 <!--                       <li><a href="/{{ children.id }}/">{{ children }}</a></li>-->
 <!--                   </ul>-->
 <!--               </li>-->
 <!--           {% endif %}-->
 <!--           {% endrecursetree %}-->
	<!--        </ul>-->
 <!--       </div>-->
 <!--   </nav>-->
    {% block content %}

    {% endblock content %}
</div>

</body>